body{
  background-color: #B9FEE7;
}

table {
  background-color: #00C9DB;
  border-collapse: collapse;
  box-shadow: 10px 10px 10px darkgrey;
}

th, td{
  border: 2.5px solid #003175;
  padding: 3px;
  text-align: center;
  
}

th{
  color: white;
  background-color: #005BDB;
}

a{
  background-color: #005BDB;
  border: 2px solid #003175;
  border-radius: 15px;
  color: white;
  padding: 5px;
  text-decoration: none;
}

a:hover{
  cursor: point;
  color: #00DBDB;
}
