body{
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to top, #5F00DB, #60efb7);
  background-attachment: fixed;
}

h1{
  text-align: center;
}

h2{
  color: #4D2928;
  text-align: center;
}

nav{
  margin: auto;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid lightblue;
  border-radius: 20px;
  position: relative;
}

a{
  box-shadow: 2px 2px 10px white;
  background: linear-gradient(to top, #8EFACA, #0871D4);
  color: blue;
  padding: 5px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 10px;
}

a:hover{
  cursor: pointer;
  color: #00DBDB;
}

.last{
  position: absolute;
  bottom: -45px; 
  left: 0; 
  margin: 10px 10px 10px 10px;
}
